<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
		<title>WebSockets Chat</title>
	<script src="static/index.js"></script>
	</head>
	<body onload="load()">
		<div id="login">
			Username:
			<input type="text" id="username" />
			<input type="button" value="Login" onclick="userLogin()" />
		</div>

		<div id="main" style="display: none">
			<b>Chat:</b>
			<div id="chat"></div>
			<br />

			Message:
			<input type="text" id="message" />
			<input type="button" value="Send" onclick="sendMessage()" />
		</div>
	</body>
</html>
